<footer>
    <nav class="footer-nav">
        <ul class="footer-nav-left">
            <li><a href="#">About Me</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <div class="footer-nav-space"></div> <!-- Espacio -->
        <ul class="footer-nav-right">
            <li><a href="#"><img src="../../assets/twitter.svg" alt="Twitter"><span> Twitter</span></a></li>
            <li><a href="#"><img src="../../assets/facebook.svg" alt="Facebook"><span> Facebook</span></a></li>
        </ul>
    </nav>
</footer>
