<app-header></app-header>
<div class="banner">
    <div class="join-container">
        <h2 class="join">Join the <strong>fun.</strong></h2>

    </div>
    <form class="form" action="/tu/ruta/de/procesamiento" method="POST">
        <div>
            <label for="name">Name:</label>
            <br>
            <input type="text" id="name" name="name" class="inputs" required>
        </div>
        <div>
            <label for="email">Email:</label>
            <br>

            <input type="email" id="email" name="email" class="inputs" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <br>

            <input type="password" id="password" name="password" class="inputs" required>
        </div>
        <button type="submit" class="joinNow">Join Now</button>
    </form>
</div>
<app-footer></app-footer>

