<app-header></app-header>
<div class="banner">
    <div class="discover-container">
        <h2 class="discover">Discover new music</h2>
        <div class="icons">
            <div class="icon">
            <img src="../../assets/microphone.svg" class="imgIcon">
            <p>Charts</p>
            </div>
            <div class="icon">
            <img src="../../assets/albums.svg" class="imgIcon">
            <p>Charts</p>
            </div>  
            <div class="icon">
            <img src="../../assets/more.svg" class="imgIcon">
            <p>Charts</p>
            </div>
        </div>
        <p>By joining you can benefit by listening to the latest albums released.</p>
    </div>
    <div class="texto-container">
        <img src="../../assets/covers.jpg" class="covers">
    </div>
</div>
<app-footer></app-footer>